<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base_robot">
        <xacro:macro name="base_robot_macro" params="radius length">

            <link name="base_link">
                <visual>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                    <geometry>
                        <cylinder radius="${radius}" length="${length}"/>
                    </geometry>
                    <material name="gray">
                        <color rgba="1.0 1.0 1.0 0.5"/>
                    </material>
                </visual>
            </link>

        </xacro:macro>

        <xacro:macro name="imu_macro" params="imu_name xyz">

            <link name="${imu_name}">
                <visual>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                    <geometry>
                        <box size="0.02 0.02 0.02"/>
                    </geometry>
                    <material name="black">
                        <color rgba="0.0 0.0 0.0 0.5"/>
                    </material>
                </visual>
            </link>

            <joint name="${imu_name}_joint" type="fixed">
                <parent link="base_link"/>
                <child link="${imu_name}"/>
                <origin xyz="${xyz}" rpy="0 0 0"/>
            </joint>
            
        </xacro:macro>

        <xacro:base_robot_macro radius="0.1" length="0.12"/>
        <xacro:imu_macro imu_name="imu_up" xyz="0 0 0.03"/>
        <xacro:imu_macro imu_name="imu_down" xyz="0 0 -0.03"/>

</robot>