<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 长方体惯性宏 -->
    <!-- m: 质量(kg), w: 宽(m), h: 高(m), d: 长(m) -->
    <xacro:macro name="box_inertia" params="m w h d">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${m/12.0 * (h*h + d*d)}" ixy="0.0" ixz="0.0"
                     iyy="${m/12.0 * (w*w + d*d)}" iyz="0.0"
                     izz="${m/12.0 * (w*w + h*h)}" />
        </inertial>
    </xacro:macro>

    <!-- 圆柱体惯性宏 -->
    <!-- m: 质量(kg), r: 半径(m), h: 高度(m) -->
    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${m/12.0 * (3*r*r + h*h)}" ixy="0.0" ixz="0.0"
                     iyy="${m/12.0 * (3*r*r + h*h)}" iyz="0.0"
                     izz="${m/2.0 * r*r}" />
        </inertial>
    </xacro:macro>

    <!-- 球体惯性宏 -->
    <!-- m: 质量(kg), r: 半径(m) -->
    <xacro:macro name="sphere_inertia" params="m r">
        <inertial>
            <mass value="${m}" />
            <inertia ixx="${2.0/5.0 * m * r*r}" ixy="0.0" ixz="0.0"
                     iyy="${2.0/5.0 * m * r*r}" iyz="0.0"
                     izz="${2.0/5.0 * m * r*r}" />
        </inertial>
    </xacro:macro>

</robot>